.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: left; /* Ensures text and inline elements inside the App are aligned left */
  width: 100%;
}

.app-container {
  display: flex;
  justify-content: flex-start; /* Aligns children (form and plot) to the left */
  align-items: flex-start; /* Aligns children to the top, in case they have different heights */
  text-align: left; /* Ensures text inside the container is aligned left */
}

.bike-form, .d3-component {
  margin: 0; /* Removes any default margin that might push content away from the left edge */
  padding: 0; /* Adjust as needed, ensures padding does not affect alignment */
}

/* Add or adjust other element styles as needed to ensure left alignment */


